<div class="container-wrapper">
            <nav class="navbar gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">
                        <li ><a ui-sref=".profile" class=" glyphicon glyphicon-user">Profile</a> </li>
                        <li><i class="fa fa-line-chart chart-style"></i><a ui-sref=".help">Progress</a></li>
                        <li><a ui-sref=".help" class=" glyphicon glyphicon-facetime-video">Videos</a></li>
                        <li><a ui-sref=".profile" class=" fa fa-comments">Discussion Forum</a></li>
                        <li><a class=" glyphicon glyphicon-folder-open">Current Project</a></li>
                        <li><a class=" glyphicon glyphicon-floppy-save">Saved Projects</a></li>
                        <li><a class=" fas fa-trophy">Competitions</a></li>
                        <li><a class=" glyphicon glyphicon-user">Tutorials</a></li>
                    </ul>
                </div><!-- /gn-scroller -->
            </nav>
           <div class="view-inserted" ui-view></div>
</div>